# --- HDL & Simulation ---
*.vcd
*.ghw
*.out
vvp_out
*.vpp

# --- Xilinx Vivado (The heavy stuff) ---
.Xil/
*.jou
*.log
*.pb
*.str
*.dir/
/vivado*
/webtalk*
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/

# --- Intel Quartus ---
db/
incremental_db/
output_files/
*.qws
*.rpt
*.summary

# --- System ---
.DS_Store
Thumbs.db
